* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header style */

header {

    height: 500px;
    background-image:url("../discord-assets/img/jumbo.png");
    background-size: cover;
}


.sub-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;

}


.flex-container-section1 {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 70%;


}


.login {
    text-align: center;
    background-color: white;
    border-radius:50px 50px 50px 50px;
    
}

.login p{
    font-size: 12px;
    font-weight: 550;
    padding: 8px 10px;
}

.link p {
    font-size: 15px;
    padding: 5px;
    word-spacing: 35px;
    color: white;
    
    
}



.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;

}

.heading{
    width: 45%;
    height: 80%;

}

.heading h1{
    font-size: 35px;
    color: white;
    text-align: center;
}

.heading> p{
    color: white;
    text-align: center;
    line-height: 30px;
}

.subsection2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.button-scarica{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 170px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;

}
.scarica{
    padding: 10px 8px;
    font-weight: 550;

}

.long-down{
    width: 7px ;
    height: 37px ;
}

.browser{

    background-color: black;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;

}




/* --------------------------------------------- */
/* main style */

.main-section1 {
    display: flex;
    justify-content: center;
    height: 500px;
 

}

.img-sec1 {

    width: 40%;
    height: 85%;


  
}

.text-sec1 {
    width: 20%;
    height: 85%;
    padding: 30px;

}

.text-sec1 h1{
    font-size: 35px;
}

.img-study-group{

    width: 100% ;
}









.main-section2 {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.text-sec2 {
    width: 20%;
    height: 85%;
    padding: 30px;
}

.text-sec2 h1{
    font-size: 35px;
}

.img-sec2 {
    width: 40%;
    height: 85%;
 
}

.img-voice-control{
    width: 100%;
}






.main-section3 {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;

}

.img-sec3 {

    width: 40%;
    height: 85%;
}

.text-sec3 {
    width: 20%;
    height: 85%;

}

.text-sec3 h1{
    font-size: 35px;
}

.img-coach{
    width: 100%;
}








.main-section4 {
    display: flex;
    justify-content: center;
    min-height: 800px;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.box-sec4 {
    width: 60%;
    height: 90%;
    text-align: center;
}


.box-sec4 h1{
    font-size: 35px;
}

.img-devices{
    width: 100%;
}

.button-scarica-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(159, 159, 237, 0.826);
    color: white;
    width: 170px;
    height: 40px;
    border-radius: 50px;
    margin: 30px 0px 60px 350px;
}

.long-down2{
    width: 7px ;
    height: 37px ;
    filter: brightness(0) invert(1);

}




/* ---------------------------------------------- */
/* Footer Style */
.footer-section1 {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: flex-start;
    background-color: rgb(35, 34, 34);
    padding: 20px;  
}

.left-sec1 {
    width: 15%;
    height: 90%;
    margin-top: 15px;

}

.change-lang{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.left-sec1 p{
    color: white;
    font-size: 10px;
}


.img-ita{
    width: 20px;
    height: 15px;

}



.left-sec1 h2{
    color: rgba(123, 123, 235, 0.89);
}


.ang-down{
    width: 15px;
    filter: brightness(0) invert(1);
}

.img-icons{
    width: 17px;
    margin-top: 10px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}





.teal-sec1 {

    width: 11.25%;
    height: 90%;
    margin-top: 15px;
    line-height: 30px;
    font-size: 13px;

}

.p-blu{
    color: rgba(123, 123, 235, 0.89);
    font-weight: 550;
}

.teal-sec1 p:not(.p-blu){
    color: white;
}



hr {
    border-color: rgb(187, 182, 182);
}

.footer-section2 {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: flex-end;
    background-color: rgb(35, 34, 34);
}

.footer-subsection2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 60%;
}

.footer-button {
    background-color: rgba(159, 159, 237, 0.826);
    border-radius: 50px;
}

.footer-subsection2 p {
    font-size: 13px;
    color: white;
    padding: 7px 10px 7px 10px;
}